<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rundezvous</title>

    <!-- Bootstrap -->
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
  </head>

<body>
	<div class="container">
		<div id="home" class="screen">
			<div class="logo">R</div>
		</div>
		
		<div id="rundetails" class="screen">
			<div class="invite">
				<div class="invite-text">
					<div class="invite-intro">THERE IS A RUNDEZVOUS STARTING IN</div>
					<div class="invite-time">15</div>
					<div class="invite-outro">MINUTES</div>
				</div>
				<div class="btnbar">
					<div class="btn-join">JOIN</div>
					<div class="btn-decline">DECLINE</div>
				</div>
			</div>
		</div>

		<div id="start-running" class="screen">
			<div class="start-running-text">
				<p>START</p>
				<p>RUNNING</p>
			</div>
		</div>
		
		<div class="screen direction">
			<span class="icon turn_left"><img src="static/images/circle_arrow_left.png" height="200" width="200"></span>
			<span class="icon turn_right"><img src="static/images/circle_arrow_right.png" height="200" width="200"></span>
			<span class="icon go_straight"><img src="static/images/circle_arrow_up.png" height="200" width="200"></span>
			<span class="icon stop"><img src="static/images/minus_sign.png" height="200" width="200"></span>
			<span class="icon destination_reached"><img src="static/images/jump.png" height="200" width="200"></span>
		</div>
		
		<div id="done" class="screen">
			<div class="done-text">
				<p>CAPTURE</p>
				<p>THE</p>
				<p>FLAG</p>
			</div>
			<div class="btn-done">DONE</div>
		</div>


		
		<div id="next" class="row">
		
		</div>


	</div>
		<audio id="audio" style="display:none; controls='controls'">
			<source id="commandAudio" type="audio/mp3"/>
		</audio>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/start.js"></script>
</body>
