<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rundezvous</title>

    <!-- Bootstrap -->
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
  </head>

<body>
	<div class="container">
		<div id="home" class="screen">
		<div class="row">
		<p>START</p>
		</div>
		</div>
		
		<div id="rundetails" class="screen">
		<div class="row">
		<p>HERE ARE SOME RUN DETAILS</p>
		</div>
		</div>
		
		<div class="screen direction">
		<div class="row">
		<p>DIRECTIONS</p>
		</div>
		</div>
		
		<div id="done" class="screen">
		<div class="row">
		<p>DONE</p>
		</div>
		</div>


		
		<div id="next" class="row">
		
		</div>
	</div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/start.js"></script>
</body>
